body {
    height: 100%;
    margin: 0;
}

div#container-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    padding: 3rem 1rem;
    border-radius: 15px;
    background-color: #cac9c9;
    margin-top: 2rem;
}

li {
    list-style: none;
}

div#contentText {
    width: 50%;
    margin: 2rem auto;
    padding: 3rem 1rem;
    border-radius: 15px;
    background-color: #cac9c9;
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 81, 221);
    color: white;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 5px;
}

footer {
    background-color: #cac9c9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}